/* Remove unused styles */
#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  max-width: 100vw;
}

.typing::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
